body {
  font-family: Montserrat;
}

/*****************************NAVIGATION BAR**************************/
.navbar-brand {
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/*****************************FIRST SECTION**************************/
h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 7%;
}

.row {
  padding-top: 4.5rem;
}

/* deberia haber un margin-left de 5% pero no queda bien como a Angela*/
.donwload-button {
  margin-top: 5%;
  margin-right: 3%;
  margin-bottom: 0;
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  z-index: 0;
  right: 30%;
}

/*****************************FEATURE SECTION**************************/
.h3-card {
  font-size: 1.2rem;
  font-weight: bold;
}

#features {
  background-color: white;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-icon {
  color: #EF8172;
  line-height: 20%;
  padding-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.features-p {
  color: grey;
  font-size: 0.9rem;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

/*****************************TESTIMONIAL SECTION**************************/
.h2-test {
  font-family: Montserrat;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

#testimonials {
  background-color: #EF8172;
  color: white;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

#press {
  background-color: #EF8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

.carousel-item {
  padding: 7% 15%;
}

/*****************************PRICING SECTION**************************/
.h2-pricing {
  font-family: Montserrat;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  }

  #pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/*****************************CTA SECTION**************************/
#cta {
  background-color: #ff4c68;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}

.h3-cta {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 3%;
}

/*****************************FOOTER SECTION**************************/
#footer {
  text-align: center;
  padding-bottom: 7%;
  padding-top: 7%;
  padding-left: 15%;
  padding-right: 15%;
}

.paragraph-footer {
  color: grey;
}

.footer-social {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3%;
}

/*****************************RESPONSIVE**************************/
@media (max-width: 991px) {

  /* los comentarios fue la manera en la que yo centre, el #title es la manera en la Angela centro (mas facil) */
  #title {
    text-align: center;
  }

  .title-image {
    /* display: block;
  margin-left: auto;
  margin-right: auto; */
    margin-top: 15%;
    position: static;
    transform: none;
  }

  /* h1 {
  text-align: center;
}

.download-button {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 3%
} */
}
